<%# encoding: utf-8 -%>
module Admin
  class <%= @writer.model_name %> < ::<%= @writer.model_name %>
  <%- if @writer.self_table.datetime_columns.present? -%>
    include DatetimeFieldConcern

    <%= @writer.datetime_field_code %>
  <%- end -%>
    <%= @writer.association_code %>
    <%= @writer.validation_code %>
  end
end
