<%# encoding: utf-8 -%>
module Admin
  class <%= @writer.table.model_name %> < ::<%= @writer.table.model_name %>
  <%- if @writer.table.has_datetime_column? -%>
    include DatetimeFieldConcern

  <%- end -%>
    <%= @writer.association_code %>
    <%= @writer.validation_code %>
  end
end
