<%# encoding: utf-8 -%>
model:
  validates:
  decorates:
  associations:
  enum:
  active_storage:
app:
  title: <%= @name.camelize %>
  index:
    conditions:
      - id: eq
    list:
      fields:
      default_order:
    csv:
  show:
    fields:
  form:
    fields:
  reference_search:
    conditions:
      - id: eq
    list:
      fields:
      default_order:
