<%# encoding: utf-8 -%>
model:
  validate:
  decorator:
  association:
  enum:
  active_storage:
app:
  title: <%= @name.pluralize.underscore.gsub('_', ' ').upcase %>
  index:
    conditions:
      - id:
          sign: eq
    list:
      fields:
      default_order:
    csv:
      fields:
  show:
    fields:
  form:
    fields:
  association_search:
    conditions:
      - id:
          sign: eq
    list:
      fields:
      default_order:
