.my-5
  .container
    .row.justify-content-center
      .col-lg-5
        .card
          .card-body.p-4
            .text-center
              %h1.text-error 403
              %h4.text-danger Forbidden
              %p.text-muted.mt-3 指定されたページを閲覧する権限がありません
              = link_to 'トップへ戻る', root_path, class: 'btn btn-info mt-3'