.my-5
  .container
    .row.justify-content-center
      .col-lg-5
        .card
          .card-body.p-4
            .text-center
              %h1.text-error 500
              %h4.text-danger Internal Server Error
              %p.text-muted.mt-3 システムエラーが発生しました。<br>管理者にご連絡ください。
              = link_to 'トップへ戻る', root_path, class: 'btn btn-info mt-3'